@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

.bg-light-grey {
  background-color: #282828;
}

body,
#root,
.bg-dark-grey {
  background-color: #212121;
}

:root {
  --primary: #FFC20D;
  --secondary: #e53e3e;
}

.cta {
  color: var(--primary);
}

.cta-bg {
  color: var(--primary);
}